html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(3, 2, 3, 0.7), transparent),
        repeating-radial-gradient(
            rgba(235, 220, 192, 0.25),
            rgba(235, 220, 192, 0.125) 1px,
            transparent 2px,
            transparent 50px
        ),
        repeating-linear-gradient(
            to right,
            transparent,
            transparent 24px,
            rgba(235, 220, 192, 0.05) 25px,
            transparent 26px,
            transparent 100px
        ),
        repeating-linear-gradient(
            to bottom,
            transparent,
            transparent 24px,
            rgba(235, 220, 192, 0.05) 25px,
            transparent 26px,
            transparent 100px
        ),
        #00a1b5;
    background-color: #08272e;
    background-size: auto auto, 50px 50px, 100px 100px, 100px 100px, auto auto;
    display: flex;
}

.workspace {
    margin: 0 auto 30px auto;
    text-align: center;
}

canvas {
    background: black;
    border: 2px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
}
input[type='range'] {
    margin-top: 15px;
    background-color: #ebeff4;
    -webkit-appearance: none;
    height: 4px;
    padding: 0;
    border: none;
    background: #00a4a2;
}
input[type='range']:focus {
    outline: none;
    outline-offset: 0;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: default;
    top: 0;
    width: 17px;
    height: 17px;
    transform: translateY(0px);
    border-radius: 50%;
    border: 2px solid #96dbfa;
    box-sizing: border-box;
    border-width: 3px;
    border-color: rgb(41, 41, 41);
    background: rgb(97, 245, 245);
}
.config {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.config div {
    width: 28%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
